<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="name"/>
    <div div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</div>
    <br/>
    <label for="age">Enter birth year: </label>
    <input type="text" th:field="*{birthYear}" id="age"/>
    <div div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Age Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>