<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}" th:object="${books}">
    <label for="query" >Enter search query</label>
    <input type="text" id="query" name="query" />
    <br/>
    <input type="submit" value="Search!"/>
</form>

<div th:if="${books}">

    <div th:if="${books.isEmpty()}">
        <span>Nothing find</span>
    </div>

    <div th:each="book : ${books}">

        <hr>

        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Book is occupied by:</span><span th:text="${book.getOwner().getFullName()}">Owner full name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Book is free</span>
        </div>
        <hr>

    </div>
</div>
</body>
</html>