<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show books</title>
</head>
<body>
<p th:text="${book.getTitle()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year: ' + book.getYear()}">VALUE</p>

<hr>

<div th:if="${owner}">
    <span>Book is occupied: </span>
    <a th:text="${owner.getFullName()}"
          th:href="@{/people/{id}(id=${owner.getId()})}">
    </a>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release"/>
    </form>
</div>


<div th:if="${people}">
    <span>Book is free</span>
    <form th:method="PATCH" th:action="@{/books/{id}/appoint(id=${book.getId()})}">
        <label for="person">Choose person to appoint</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Appoint book"/>
    </form>
</div>

<hr>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>