<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<div th:if="${books.isEmpty}">
    <p>Person didn't take any book</p>
</div>

<div th:if="${!books.isEmpty()}">
    <hr>
    <b>Books:</b>
    <br>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
            th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
           th:style="${book.isExpired()} ? 'color: red' : 'color: black'"
        >book</a>
    </div>
    <hr>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>